<!-- Footer and Social Links -->

<footer>
  <div class="footer">
    <img
      class="footer__logo"
      src="../images/Single_Trail_logo_white.png"
      alt="Logo SingleTrail Moravský kras"
    />
    
      <div>
        <ul class="social-links">
          <li>
            <a href="https://www.facebook.com"
              ><i class="fab fa-facebook-f"></i
            ></a>
          </li>
          <li>
            <a  href="https://www.twitter.com"
              ><i class="fab fa-twitter"></i
            ></a>
          </li>
          <li>
            <a  href="https://www.instragram.com"
              ><i class="fab fa-instagram"></i
            ></a>
          </li>
        </ul>
      </div>
    <h6> SINGLETRAIL Moravský kras z.s.</h6>
     <p>
    Komenského 234, 664 01 Řícmanice</p>
    </div>
</footer>

<script
  src="https://use.fontawesome.com/releases/v5.13.0/js/all.js"
  data-auto-replace-svg="nest"
></script>
