<nav class="nav">
  <div class="nav_container">
    <div>
      <a href="index.html">
        <img
          class="logo"
          src="../images/Single_Trail_logo_white.png"
          alt="Logo SingleTrail Moravský kras"
      /></a>
    </div>
    <div>
      <ul class="nav__list">
        <li class="nav__item">
          <a href="oTrailech.html" class="nav__link">O trailech</a>
        </li>
        <li class="nav__item">
          <a href="jedovnice.html" class="nav__link">Jedovnice</a>
        </li>
        <li class="nav__item">
          <a href="marianskeUdoli.html" class="nav__link">Mariánské údolí</a>
        </li>
      </ul>
    </div>

    <button class="hamburger-menu">
      <i class="fas fa-bars"></i>
    </button>
  </div>
</nav>

<nav class = "nav-mobile">
  <div  class = "nav-mobile__container">
    <ul class="nav__list-mobile">
      <li class="nav__item-mobile">
        <a href="oTrailech.html" class="nav__link-mobile">O trailech</a>
      </li>
      <li class="nav__item-mobile">
        <a href="jedovnice.html" class="nav__link-mobile">Jedovnice</a>
      </li>
      <li class="nav__item-mobile">
        <a href="marianskeUdoli.html" class="nav__link-mobile">Mariánské údolí</a>
      </li>
    </ul>
  </div>
</nav>
