.logo {
    height: 4.5rem;
    width: auto;
}
.nav {
    background-color: $color-primary;
    max-width: 100%;
    margin: auto;

    &__list {
        display: flex;
    }
    &__item {
        list-style: none;
        padding-left: 4.5rem;
        text-transform: uppercase;
        font-size: $font-size-xs;
    }
    &__link {
        text-decoration: none;
        color: $color-white;

        &:hover,
        &:active {
            color: $color-container-3;
            transition: all 0.2s;
        }
        @include mq(smallest) {
            display: none;
        }
    }
    &_container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: $width-mid-screen;
        margin: auto;
        padding: 1rem 5rem;
    }
}
