// Jedovnice & Marianke udolí - trail Info
.trail-value {
    display: flex;
    text-align: center;
    padding-top: 7rem;
    @include mq(lg) {
        width: 40%;
    }
    @media (max-width: 880px) {
        width: 100%;
    }

    p {
        padding-left: 6%;
    }
    strong {
        font-weight: 900;
    }
    &__okruhy {
        display: flex;
        padding: 5rem 2rem 0rem;
        text-align: center;
        justify-content: space-between;
        @media (max-width: 1065px) {
            padding: 5rem 0rem;
        }
    }
}

.trails-box {
    display: flex;
    padding: 10rem 8rem;
    &:last-child {
        padding-bottom: 22rem;
    }
    @media (max-width: 1120px) {
        padding: 8rem 4rem;
        &:last-child {
            padding-bottom: 10rem;
        }
    }

    @media (max-width: 1020px) {
        padding: 6rem 1rem;
    }
    @media (max-width: 880px) {
        flex-direction: column-reverse;
        padding-top: 2rem;
        padding-bottom: 1rem;
        &:nth-child(2) {
            flex-direction: column;
        }
        &:last-child {
            padding-bottom: 5rem;
        }
    }

    &__inner {
        padding: 1rem 5rem 0rem 0rem;
        @include mq(xl) {
            padding-right: 2rem;
        }
        &-2 {
            padding-left: 5rem;
            padding-right: 0;
            @include mq(xl) {
                padding-left: 2rem;
            }
        }
    }
}
