.btn {
    display: table;
    width: fit-content;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1rem 2.6rem;
    color: $color-white;
    font-size: $font-size-xs;
    box-shadow: $box-shadow;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    margin-top: 2.5rem;
    &__main {
        background-color: rgba($color-button-1, 0.9);
    }
    &__secondary {
        background-color: $color-button-2;
    }
}
