// Section of 3 cards with photo - Main Page

.cards {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 25%;
    margin: auto;
    @include mq(small) {
        flex-direction: column;
    }
}

.card {
    display: flex;

    &__text {
        color: $color-white;
        background-color: rgba($color-primary, 0.7);
        padding: 2.5rem;
        font-size: $font-size-xs;
        @include mq(small) {
            width: 40%;
        }

        h3 {
            padding-bottom: 2rem;
            font-size: $font-size-s;
        }
        p {
            line-height: 3.2rem;
        }
    }
    @include mq(xl-large) {
        flex-direction: column-reverse;
    }
    @include mq(small) {
        flex-direction: row;
        justify-content: left;
        padding-bottom: 3rem;
    }
}

// Section with Trail Hunter Video + Marisnaké_údolí

.info-box {
    position: relative;
    max-width: $width-mid-screen;
    margin: auto;
    padding: 15rem 5rem 0rem;
    &__hunter {
        @include mq(xxl-large) {
            display: flex;
            justify-content: center;
            padding: 8rem 3rem 35rem;
        }
    }
    &__inner {
        width: 62%;
        padding: 8rem;
        background-color: $color-container-2;
        border-radius: 1rem;
        box-shadow: $box-shadow;

        h2 {
            text-transform: uppercase;
            color: $color-white;
        }
        p {
            color: $color-white;
            width: 62%;
            padding-bottom: 2rem;
        }
        &__kras {
            background-color: $color-container-1;
        }
        &__jedovnice {
            background-color: $color-container-5;
        }
        &__hunter {
            margin-bottom: 30rem;
            @include mq(xxl-large) {
                width: 70%;
            }
            @include mq(large) {
                width: 90%;
            }
            p {
                @include mq(xxl-large) {
                    width: 75%;
                }
                @include mq(large) {
                    width: 85%;
                }
            }
        }
    }
}

// Youtube video container

.iframe-container {
    position: absolute;
    top: 35rem;
    right: 8rem;
    z-index: 10;
    @include mq(xxl-large) {
        width: 67%;
        right: auto;
        top: 55%;
    }
    @include mq(large) {
        width: 84.5%;
    }

    & iframe {
        border-radius: 1rem;
        box-shadow: $box-shadow;
        @include mq(xxl-large) {
            width: 100%;
        }
    }
}
