// Slider - O singleTrailu

.slider {
    position: relative;
    display: flex;
    height: 25rem;
    padding: 2rem;
    overflow: hidden;
    &__box {
        max-width: $width-mid-screen;
        margin: auto;
        padding: 22rem 0rem 0rem;
    }
    &__btn {
        position: absolute;
        display: grid;
        place-items: center;
        top: 30%;
        z-index: 10;
        border: none;
        cursor: pointer;
        &--left {
            left: 10%;
            transform: translate(-50%, -50%);
        }
        &--right {
            right: 10%;
            transform: translate(50%, -50%);
        }
    }
}

.slide {
    position: absolute;
    display: grid;
    place-items: center;
    transition: transform 1.5s;
    &__inner {
        width: 60%;
        z-index: 10;
        text-align: center;
        p {
            line-height: 3rem;
        }
    }
}

.dots {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    &__dot {
        border: none;
        background-color: darken($color-container-4, 20%);
        opacity: 0.7;
        height: 1rem;
        width: 1rem;
        border-radius: 50%;
        margin-right: 1.75rem;
        cursor: pointer;
        transition: all 0.5s;
        &:last-child {
            margin: 0;
        }
        &--active {
            background-color: $color-grey-dark;
            opacity: 1;
        }
    }
}
