@use "sass:map";

$breakpoints: (
    xs: 700px,
    sm: 740px,
    md: 1000px,
    lg: 1240px,
    xl: 1290px
);

@mixin mq($key) {
    $size: map.get($breakpoints, $key);
    @media  only screen and (max-width: $size) {
        @content;
    }
}

