*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; //1rem = 10px/16px = 62.5%
}

body {
  background-color: $color-background;
  box-sizing: border-box;
}

.container {
  display: flex;
  max-width: $width-mid-screen;
  padding: 5rem;
  height: max-content;
  margin: auto;
  flex-direction: column;
  &__trails {
    max-width: $width-mid-screen;
    padding: 18rem 5rem 8rem;
    margin: auto;
    position: relative;
  }

}


// Map section - Kudy k nám
.map__box{
  padding: 8rem 8rem 20rem;
}
