// Front page img - forest
.full-screen_img {
    background-repeat: no-repeat;
    background-position: top;
    max-width: $width-full-screen;
    height: 100%;
    margin: auto;

    &__index {
        background-image: url(../images/Single_Trail_front_page_forest.jpg);
    }
    &__oTrailech {
        background-image: url(../images/Single_Trail_biker.jpg);
        height: 75rem;
        background-size: cover;
    }
}

// gallery - O trailech
.gallery {
    display: grid;
    place-items: center;
    padding: 20rem 10rem 10rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 1fr auto-fit);
    gap: 2rem 2rem;
    grid-template-areas:
        "img1 img3"
        "img1 img3"
        "img1 img3"
        "img2 img3"
        "img2 img3"
        "img2 img4"
        "img2 img4"
        "img2 img4";
    img {
        box-shadow: $box-shadow;
        width: 100%;
    }
    @include mq(sm) {
        padding: 10rem 4rem 2rem;
        gap: 1rem 1rem;
    }
}
.img1 {
    grid-area: img1;
}
.img2 {
    grid-area: img2;
}
.img3 {
    grid-area: img3;
}
.img4 {
    grid-area: img4;
}

// Jedovnice & Mariánské údolí - main image
.frame__img {
    top: 35rem;
    right: 0;
    margin-right: 5rem;
    position: absolute;
    border-radius: 1rem;
    width: 50%;
    box-shadow: $box-shadow;
    @include mq(lg) {
        top: 42rem;
    }
    @include mq(md) {
        top: 44.5rem;
    }
    @media (max-width: 880px) {
        display: none;
    }
}
// Jedovnice & Mariánské údolí - frame images
.trails-box__inner-img {
    height: 100%;
    border: 10px solid #fff;
    box-shadow: $box-shadow;
    @include mq(lg) {
        object-fit: cover;
        min-width: 35rem;
        height: auto;
    }
    @include mq(md) {
        min-width: 30rem;
    }
}

// Map section - Kudy k nám
.map {
    display: flex;
    justify-content: center;
    max-width: $width-mid-screen;
    margin: auto;
    @include mq(md) {
        flex-direction: column;
        &:last-child {
            margin-top: 5rem;
        }
    }
    &__img {
        border: 10px solid #fff;
        box-shadow: $box-shadow;
        @include mq(sm) {
            max-width: 100%;
        }
    }
}

// Map section - Kudy k nám
.map__box {
    padding: 8rem 8rem 20rem;
    @include mq(md) {
        padding: 0rem 8rem 10rem;
    }
}
