body {
    color: $color-grey-dark;
    font-family: $font-primary;
}

.paragraph {
    font-size: $font-size-s;
    line-height: 2.6rem;
    &-align {
        text-align: center;
        width: 55%;
        margin: auto;
        @include mq(sm) {
       width: 70%;
        }
    }
}

.heading-primary {
    color: $color-white;
    font-family: $font-secondary;
    font-size: $font-size-h1;
    padding-top: 8%;
    @include mq(sm) {
        font-size: 8rem;
    }
}

.heading-secondary {
    font-family: $font-secondary;
    font-size: $font-size-l;
    padding-bottom: 3rem;
    &-align {
        text-align: center;
    }
}

.heading-tertiary {
    font-size: $font-size-m;
    font-family: $font-secondary;
}

.heading-xxl {
    font-size: $font-size-xxl;
    font-family: $font-secondary;
    padding-bottom: 6rem;
    text-align: center;
    &__trails {
        color: $color-white;
        text-align: left;
        padding-bottom: 4rem;
    }
}
